.container{
    margin: auto;
    align-items: center;
    align-content: center;
}

#One{
 height: 150px;
 width: 150px;
 text-align: center;
 border: 5px solid black;
 font-size: 100px;
 
}
#two{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
   #three{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
   #four{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
   #five{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
   #six{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
   #seven{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
   #eight{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
   #nine{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
    
   }
